.nav{
    height: 10vh;
    align-items: center;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    box-shadow: 1px 1px 10px #2b2b2b;
}
.logo-nav{
    padding: 1rem;
}
.lista-nav{
    display: flex;
    gap: 1rem;
}
.item-nav{
    list-style: none;
}
.links-nav{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #808080;
    font-size: 1.1rem;
}
.nav1{
    color: #333333;
}
.links-nav:hover{
    text-decoration: underline;
}
@media screen and (max-width:600px) {
    
    header.nav{
        padding: .3rem;
        justify-content: center;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-gap: .3rem;
    }
    .nav a{
    }
    .links-nav{
        font-size: .55rem;
    }
    .lista-nav{
        gap: .5rem;
        display: flex;
        justify-content: center;
    }
    .logo-nav{
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
}

